#intervino_view
	.controls.controls-row
		.span4
			label Nombre:
			input#nombre_agente_intervino_pp.input-xlarge.ui-autocomplete-input(type="textbox", placeholder="Nombre Agente")
		.span1
			label Gafete
			input#gafete_intervino_pp.input-mini(type="textbox", placeholder="No.")
		.span3
			label Unidad:
			input#unidad_intervino_pp.ui-autocomplete-input(type="textbox", placeholder="Unidad")
		.span4
			label Sector:
			input#sector_intervino_pp.ui-autocomplete-input(type="textbox", placeholder="Sector")