#superviso_view
	.controls.controls-row
		.span4
			label Nombre Agente:
			input#nombre_agente_superviso_pp.input-xlarge.ui-autocomplete-input(type="textbox", placeholder="Nombre Agente")
		.span1
			label Gafete	
			input#gafete_superviso_pp.input-mini(type="textbox", placeholder="No.")
		.span3
			label Unidad:
			input#unidad_superviso_pp.ui-autocomplete-input(type="textbox", placeholder="Unidad")
		.span4
			label Sector:
			input#sector_superviso_pp(type="textbox", placeholder="Sector")