#tabla_saldo_sangre_view
	table#tab_saldo_sangre.table.table-bordered
		caption Saldo de sangre
		thead
			tr
				th OPCIONES
				th NOMBRE
				th EDAD
				th DOMICILIO
				th SE ENCONTRABA
				th EDO. PERSONA
				th LEVANTADO POR
				th TRASLADADO A
		tbody
 
	button#agregar_ss_pp.btn(type="submit") Agregar
