#tabla_vehiculos_view.controls.controls-row
	.span12
		table#tab_vehiculos.table.table-bordered
			caption Vehículos y Conductores Involucrados
			thead
				tr
					th OPCIONES
					th I.C.
					th PLACA
					th MARCA
					th SUBMARCA
					th TIPO
					th MODELO
					th COLOR
			tbody