br
br
br
- if(accidente){
- var script= "<script>window.accidente=" + accidente +" </script>"
- }else{
	var script= "<script>window.accidente=" + accidente +" </script>"
- }
label Esto es una prueba
| !{script}