doctype 5
html(land="es")
    head
        title Sistemaaa de Tránsito
        meta(charset="utf8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/stylesheets/vendor/normalize.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/bootstrap-responsive.min.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/bootstrap.min.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/prettify.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/bootstrap-wysihtml5-0.0.2.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/bootstrap-datetimepicker.min.css")
        link(rel="stylesheet", href="/static/stylesheets/vendor/jquery.ui.all.css")
        link(rel="stylesheet", href="/static/stylesheets/estilos.css")
        block stylesheet
        script(src="/static/javascripts/vendor/modernizr-2.6.2.min.js")

    body
        #wrapper
            header.navbar.navbar-inverse.navbar-fixed-top
                .navbar-inner
                    .container-fluid
                        button.btn.btn-navbar(type="button", data-toogle="collapse", data-target=".nav-collapse")
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a.brand(href="#") Systra-Nin
                        .nav-collapse.collapse
                            .navbar-text.pull-right 
                                .controls.controls-row  
                                    .span2
                                        label Logeado como 
                                            a.navbar-link
                                                //!=request.session.usuario.user
                                    .span1
                                        figure#avatar
                                            img(src="/avatares/foto.tiff")
                            br
                            ul.nav
                                li.active
                                    a(href="#") Inicio
                                li.dropdown
                                    a.dropdown-toggle(href="#", data-toggle="dropdown") Incidentes 
                                        b.caret
                                    ul.dropdown-menu
                                        li
                                            a(href="/accidente/inicia") Iniciar
                                        li
                                            a#listaPreliminar(href="#") List Preliminares
                                        li
                                            a(href="/accidente/captura") Capturar
                                        li
                                            a(href="/accidente/list") Lista
                                    li.dropdown
                                        a#Infracciones.dropdown-toggle(href="#", data-toggle="dropdown") Infracciones
                                            b.caret
                                        ul.dropdown-menu
                                            li
                                                a(href="/infraccion/captura") Capturar
                                            li
                                                a(href="/infraccion/list") Lista

                                    li.dropdown
                                        a#Liberacion.dropdown-toggle(href="#", data-toggle="dropdown") Inventario
                                            b.caret
                                        ul.dropdown-menu
                                            li
                                                a(href="/inventario/captura") Capturar
                                    li.dropdown
                                        a#admin.dropdown-toggle(href="#", data-toggle="dropdown") Admin
                                            b.caret
                                        ul.dropdown-menu
                                            li
                                                a(href="/admin/index") Principal
            section
                section#menu-vertical
                        section.well.sidebar-nav
                            ul#ul_accidente.nav.nav-list
                                li.nav-header Accidente Locales
                        section.well.sidebar-nav
                            ul#ul-accidente-server.nav.nav-list
                                li.nav-header Accidentes Server
                                
                        section.well.sidebar-nav
                            ul#ul-infraccion.nav.nav-list
                                li.nav-header Infracciones Locales
                        section.well.sidebar-nav
                            ul#ul-infracciones-server.nav.nav-list
                                li.nav-header Infracciones Server
                        section.well.sidebar-nav
                            ul#ul-inventarios.nav.nav-list
                                li.nav-header Inventarios Locales
                        section.well.sidebar-nav
                            ul#ul-inventarios-server.nav.nav-list
                                li.nav-header Inventarios Server
                    

                    section#contenido
                        section.contenido
                            block contenido             
                    footer.footer
                        .container
                            p &copy; Tránsito Municipal de León Gto..
        script(src="/static/javascripts/vendor/wysihtml5-0.3.0_rc2.min.js")
        script(src="/static/javascripts/vendor/jquery.js")
        script(src="http://maps.google.com/maps/api/js?sensor=false")
        script(src="/static/javascripts/vendor/bootstrap.min.js")
        script(src="/static/javascripts/vendor/bootstrap-wysihtml5-0.0.2.min.js")
        script(src="/static/javascripts/vendor/underscore-min.js")
        script(src="/static/javascripts/vendor/jquery-ui-1.10.3.custom.min.js")
        script(src="/static/javascripts/vendor/bootstrap-datetimepicker.js")
        script(src="/static/javascripts/vendor/jquery.ui.addresspicker.js")
        block javascripts