 nj#datos_vehiculos
	.controls.controls-row
		.span2
			label.radio
				p
					input#optionsRadios1(type="radio",name="optionsRadios",value="1") 
					p Automomovil
		.span2
			label.radio
				p
					input#optionsRadios2(type="radio",name="optionsRadios",value="2")
					p Camioneta
		.span2
			label.radio
				p
					input#optionsRadios3(type="radio",name="optionsRadios",value="3")
					p Motocicleta
		.span2
			label.radio
				p
					input#optionsRadios4(type="radio",name="optionsRadios",value="4")
					p Bicicleta
		.span2
			label.radio
				p
					input#optionsRadios5(type="radio",name="optionsRadios",value="5")
					p Otros
	.controls.controls-row	
		.span4
			label Inverviene como:
			input#interviene_como_pp.input-short(type="text", placeholder="Interviene como")
		.span4
			label Marca:
			input#marca_vehiculo_pp.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
		.span4
			label SubMarca:
			input#submarca_vehiculo_pp.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
	.controls.controls-row
		.span4
			label Modelo:
			select#model_vehiculo_pp
		.span4
			label Tipo:
			input#tipo_vehiculo_pp.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
		.span4
			label Datos Adicionales:
			input#datosadicionales_vehiculo_pp(type="text", placeholder="Datos adicionales")
	.controls.controls-row
		.span4
			label Placas:
			input#placas_vehiculo(type="text", placeholder="Placas")
		.span4
			label No. Serie:
			input#noSerie_vehiculo(type="text", placeholder="No. Serie")
		.span4
			label No. Eco.:
			input#noeco_pp(type="text", placeholder="No. Econ")
	.controls.controls-row
		.span4
			label Capacidad:
			input#capacidad_vehiculo_pp(type="text", placeholder="Capacidad")
		.span4
			label No. de grua:
			input#nodegrua_vehiculo_pp(type="text", placeholder="No. de Grua")
		.span4
			label Pensión:
			select#pension_vehiculo_pp
	.controls.controls-row
		.span4
			label No. de Inventario:
			input#noInventario_vehiculo.ui-autocomplete-input(type="text", placeholder="No de inventario")
		.span4
			label Clase
			select#clase_vehiculo_pp
		.span4
			label Color
			select#color_vehiculo_pp
	.controls.controls-row
		.span4
			label Detalle del Color
			input#detalle_color_vehiculo(type="text", placeholder="Detalle del color")
		.span4
			label Estado
			input#estado_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Estado")
		.span4
			label Municipio
			input#municipio_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Municipio")
	legend Datos del Propietario del vehículo
	.controls.controls-row
		.span2
			label.radio
				input#tipoDuenoNombre(type="radio",name="optionsRadios",value="0")
				|Nombre
		.span2
			label.radio
				input#tipoDuenoRazonSocial(type="radio",name="optionsRadios",value="1")
				|Razón Social 
		.span8
			strong
				|Utilize esta opción si el propietario del vehìculo pertenece a una empresa
	.controls.controls-row
		.span4
			label Nombre(s) o Razón Social
			input#nombre_propietario_vehiculo(type="text", placeholder="Nombre del propietario")
		.span4
			label Apellido Paterno
			input#apellido_paterno_propietario_vehiculo(type="text", placeholder="Apellido Paterno")
		.span4
			label Apellido Materno
			input#apellido_materno_propietario_vehiculo(type="text", placeholder="Apellido Materno")
	.controls.controls-row
		.span4
			label Domicilio
			input#domicilio_propietario_vehiculo(type="text", placeholder="Domicilio")
		.span4
			label Telefono
			input#telefono_propietario_vehiculo(type="text", placeholder="Telefono")
		.span4
			label Codigo Postal:
			input#codigo_postal_propietario_vehiculo(type="text", placeholder="Código Postal")
	.controls.controls-row
		.span4
			label Colonia
			input#colonia_propietario_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Colonia")
		.span4
			label Municipio
			input#municipio_propietario_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Municipio")
		.span4
			label Estado
			input#estado_propietario_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Estado")
	legend 
		|Datos del Conductor
		label.checkbox
			input#IgualConductorPropietario(type="checkbox")
			|Active esta casilla si los datos del propietario son los mismos que los del conductor.
	.controls.controls-row	
		.span4			
			label Nombre
			input#nombre_conductor_vehiculo(type="text", placeholder="Nombre")
		.span4
			label Apellido Paterno
			input#appellido_paterno_conductor_vehiculo(type="text", placeholder="Apellido Paterno")
		.span4
			label Apellido Materno
			input#apellido_materno_conductor_vehiculo(type="text", placeholder="Apellido Materno")
	.controls.controls-row
		.span4
			label Domicilio
			input#domicilio_conductor_vehiculo(type="text", placeholder="Domicilio")
		.span4
			label Edad
			input#edad_conductor_vehiculo.input-small(type="text", placeholder="Edad")
			select#tipo_de_edad_conductor_vehiculo.input-small
				option AÑOS
				option MESES
				option SE DESCONOCE
		.span4
			label Sexo
			select#sexo_conductor_vehiculo
				option HOMBRE
				option MUJER
				option SE DESCONOCE
	.controls.controls-row
		.span4
			label Colonia
			input#colonia_conductor_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Colonia")
		.span4
			label Folio de Infracción
			input#folio_infraccion_conductor_vehiculo(type="text", placeholder="Folio de Infraccion")
		.span4
			label Folio del Certificado Médico
			input#folio_certificado_medico_conductor_vehiculo(type="text", placeholder="Colonia")
	br
	.controls.controls-row
		.span2
			label.radio
				input#radEstadoConductorEbriedadCompleta(type="radio",name="estadoconductor",value="1")
				|EBRIEDAD COMPLETA
		.span2
			label.radio
				input#radEstadoConductorBajoInflujoDrogas(type="radio",name="estadoconductor",value="2")
				|BAJO INFLUJO DE DROGAS
		.span2
			label.radio
				input#radEstadoConductorAlientoAlcoholico(type="radio",name="estadoconductor",value="3")
				|ALIENTO ALCOHOLICO
		.span2
			label.radio
				input#radEstadoConductorEstadoNormal(type="radio",name="estadoconductor",value="4")
				|ESTADO NORMAL
		.span2
			label.radio
				input#radEstadoConductorInconsciente(type="radio",name="estadoconductor",value="5")
				|INCONSCIENTE
	br
	.controls.controls-row
		.span4
			label Estado
			input#estado_certificado_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Estado")
		.span4
			label Municipio
			input#municipio_certificado_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Municipio")
		.span4
			label Condiciones Físicas
			select#condiciones_fisicas_certificado_vehiculo_pp
	.controls.controls-row
		.span4
			label Detenido en
			select#detenido_en_certificado_vehiculo_pp
		.span4
			label En custodia  de
			input#custodia_de_certificado_vehiculo.ui-autocomplete-input(type="text", placeholder="En custodia de")
		.span4
			label A disposición de 
			input#disposicion_de_certificado_vehiculo.ui-autocomplete-input(type="text", placeholder="A disposicion de")
	.controls.controls-row
		.span4
			label La persona se encontraba:
			select#persona_encontraba_certificado_vehiculo_pp
		.span4
			label Levantado por:
			select#levantado_por_certificado_vehiculo_pp

		.span4
			label Trasladado a:
			select#trasladado_a_certificado_vehiculo_pp
	.controls.controls-row
		.span4
			label No. Licencia
			input#nolicencia_conductor(type="text")
		.span4
			label Tipo de Licencia
			select#tipo_licencia_conductor_vehiculo_pp
		.span4	
			label Restricciones
			select#restricciones_licencia_conductor_vehiculo_pp
	.controls.controls-row
		.span4
			label Vigencia:
			#vigencia_licencia_conductor.input-append.date
				input#vigencia_licencia_input(data-format="dd/MM/yyyy hh:mm:ss",type="text",placeholder="Hora")
				span.add-on
					i(data-time-icon="icon-time", data-date-icon="icon-calendar")
		.span4
			label Expedida por el Gob. del Edo. de:
			input#expedida_licencia_conductor_vehiculo_pp.ui-autocomplete-input(type="text", placeholder="Estado de la licencia")
	.controls.controls-row
		.span3.offset9
			button#guardar_vehiculo_parte.btn(type="submit") Aceptar
			button#cancelar_vehiculo_parte.btn(type="submit") Cancelar
			button#cargar_vehiculo_parte1.btn(type="submit") Cargar 1
			button#cargar_vehiculo_parte2.btn(type="submit") Cargar 2
			button#cargar_vehiculo_parte3.btn(type="submit") Cargar 3
			button#cargar_vehiculo_parte4.btn(type="submit") Cargar 4
			button#cargar_vehiculo_parte5.btn(type="submit") Cargar 4










	













