#CapturaCompetenciaJudicialView(title="Captura competencia Judicial")
	.controls.controls-row
		.span3 
			label Nombre
			input#nombre_cj
		.span3
			label Estado
			input#estado_cj
	.controls.controls-row
		.span3
			label Edad
			input#edad_cj.input-mini
		.span3
			label Domicilio
			input#domicilio_cj
	.controls.controls-row
		.span3
			label Detenido en:
			input#detenidoen_cj
		.span3
			label A disposición de:
			input#adisposicionde_cj
	.controls.controls-row
		.span3
			label Se encontraba
			input#seencontraba_cj
	.controls.controls-row
		.span6.offset4
			br
			button#dialogo-cancelar-competencia-judicial.btn Cancelar
			button#dialogo-aceptar-competencia-judicial.btn-primary Aceptar