#CapturaSaldoSangreView(title="Capturar Saldo Sangre")
	.controls.controls-row
		.span3
			label Nombre
			input#nombre_ss
		.span3
			label Estado
			input#estado_ss
	.controls.controls-row
		.span3
			label Edad
			input#edad_ss.input-mini
		.span3
			label Nacionalidad:
			input#nacionalidad_ss
	.controls.controls-row
		.span3
			label Domicilio
			input#domicilio_ss
		.span3
			label Levanta Por:
			input#levantadopor_ss
	.controls.controls-row
		.span3
			label Trasladado a:
			input#trasladadoa_ss
		.span3
			label A disposición de:
			input#adisposicionde_ss
	.controls.controls-row
		.span3
			label Se encontraba
			input#seencontraba_ss
	.controls.controls-row
		.span6.offset4
			br
			button#cancelar-saldo-sangre.btn Cancelar
			button#dialogo-aceptar-saldo-sangre.btn-primary Aceptar
		

