#fotografias_pp
	a(name="ff")
	#fotos_galeria
	//a(href="/fotos_accidentes/IMG_0043.JPG")
	//		img(src="/fotos_accidentes/IMG_0043.JPG", data-big="/fotos_accidentes/IMG_0043.JPG")
	//	a(href="/fotos_accidentes/IMG_0045.JPG")
	//		img(src="/fotos_accidentes/IMG_0045.JPG", data-big="/fotos_accidentes/IMG_0045.JPG")
	.controls.controls-row
		.span12
			ul#ligaFotos




//a.thumbnail.plain(href="#")
//	img(src="/fotos_accidentes/IMG_0043.JPG")