#intervino_view
	.controls.controls-row
		.span6
			label Gafete/Nombre:
			input#nombre_agente_intervino_pp.input-xlarge.ui-autocomplete-input(type="textbox", placeholder="Nombre Agente")
		.span6
			label Unidad/Sector:
			input#unidad_intervino_pp.ui-autocomplete-input(type="textbox", placeholder="Unidad")