button#generar_reporte_pp.btn(type="button") Mostrar reporte
button#generar_posterior_pp.btn(type="button") Mostrar posterior
#dialogo-reporte(title="Reporte de accidente")
	iframe#ventana_pdf(frameborder="0", width="100%", height="400")
#dialogo-posterior(title="Posterior de accidente")
	iframe#posterior_pdf(frameborder="0", width="100%", height="400")
