#superviso_view
	.controls.controls-row
		.span6
			label Gafete/Agente:
			input#nombre_agente_superviso_pp.input-xlarge.ui-autocomplete-input(type="textbox", placeholder="Nombre Agente")
		.span6
			label Unidad/Sector:
			input#unidad_superviso_pp.ui-autocomplete-input.input-xlarge(type="textbox", placeholder="Unidad")