.avatar
	.item-avatar
		|PRELIMINARES
	#avatar-preliminares
		.item-avatar
			|Accidentes(
			a(href="#") 4
			|)
	.avatar-nombre
		|{{profile.nombre}}
	.avatar-comandancia
		|COMANDANCIA: {{profile.comandancia}}
	.avatar-turno
		|TURNO: {{profile.turno}}
	.item-avatar
		a(href="#")
			span.icosystra-profile
			|&nbsp;MI PERFIL


	.avatar-salir
		a(href="#")
			span.icosystra-exit 
			|&nbsp;Salir
			
