#managerCajuela_spa_inv_viewtr.bloque
	.controls.controls-row
	br
	h5 Cajuela 
		input#Cajuela_inv(type="text")
	table#tab_articulos_spa_inf.table-bordered.table-striped
		thead
			tr
				th 
					label Elemento
				th
					label Bien
				th
					label Reg
				th
					label Mal
				th
					label No
		tbody
			tr
				td
					label Gato
				td.centro
					input#gato1_inv(type="radio", name="gat")
				td.centro
					input#gato2_inv(type="radio", name="gat")
				td.centro
					input#gato3_inv(type="radio", name="gat")
				td.centro
					input#gato4_inv(type="radio", name="gat")
			tr
				td
					label Llaves
				td.centro
					input#llave1_inv(type="radio", name="llav")
				td.centro
					input#llave2_inv(type="radio", name="llav")
				td.centro
					input#llave3_inv(type="radio", name="llav")
				td.centro
					input#llave4_inv(type="radio", name="llav")
			tr
				td
					label Desarmadores
				td.centro
					input#desarmadores1_inv(type="radio", name="desar")
				td.centro
					input#desarmadores2_inv(type="radio", name="desar")
				td.centro
					input#desarmadores3_inv(type="radio", name="desar")
				td.centro
					input#desarmadores4_inv(type="radio", name="desar")
			tr
				td
					label Pinzas
				td.centro
					input#pinzaz1_inv(type="radio", name="pinz")
				td.centro
					input#pinzaz2_inv(type="radio", name="pinz")
				td.centro
					input#pinzaz3_inv(type="radio", name="pinz")
				td.centro
					input#pinzaz4_inv(type="radio", name="pinz")
			tr
				td
					label Cruzeta "L"
				td.centro
					input#cruzL1_inv(type="radio", name="crul")
				td.centro
					input#cruzL2_inv(type="radio", name="crul")
				td.centro
					input#cruzL3_inv(type="radio", name="crul")
				td.centro
					input#cruzL4_inv(type="radio", name="crul")
			tr
				td
					label Banderas luminosas
				td.centro
					input#banderasLum1_inv(type="radio", name="bandlu")
				td.centro
					input#banderasLum2_inv(type="radio", name="bandlu")
				td.centro
					input#banderasLum3_inv(type="radio", name="bandlu")
				td.centro
					input#banderasLum4_inv(type="radio", name="bandlu")
			tr
				td
					label Palancas
				td.centro
					input#palancas1_inv(type="radio", name="palan")
				td.centro
					input#palancas2_inv(type="radio", name="palan")
				td.centro
					input#palancas3_inv(type="radio", name="palan")
				td.centro
					input#palancas4_inv(type="radio", name="palan")
			tr
				td
					label Extintor
				td.centro
					input#extintor1_inv(type="radio", name="exti")
				td.centro
					input#extintor2_inv(type="radio", name="exti")
				td.centro
					input#extintor3_inv(type="radio", name="exti")
				td.centro
					input#extintor4_inv(type="radio", name="exti")
			tr
				td
					label Llantas de refaccion
				td.centro
					input#llantasRef1_inv(type="radio", name="llanre")
				td.centro
					input#llantasRef2_inv(type="radio", name="llanre")
				td.centro
					input#llantasRef3_inv(type="radio", name="llanre")
				td.centro
					input#llantasRef4_inv(type="radio", name="llanre")
	br
	.controls.controls-row
		.span5
			label Otros
				input#otroos(type="text")
		.span5
			label Gasolina
				input#gasolina(type="text", placeholder="Porcentaje")