#managerParteDelFrente_spa_inv_view.bloque
	br
	h5 Parte Del Frente     
		input#ParteFrente_inv(type="text")
	table#tab_articulos_spa_inf.table-bordered.table-striped
		thead
			th 
				label Elemento
			th 
				label Bien
			th 
				label Reg
			th 
				label Mal
			th 
				label No
		tbody
			tr
				td
					label Cofre
				td.centro
					input#cofre1_inv(type="radio", name="co")
				td.centro
					input#cofre2_inv(type="radio", name="co")
				td.centro
					input#cofre3_inv(type="radio", name="co")
				td.centro
					input#cofre4_inv(type="radio", name="co")
			tr
				td
					label Toldo
				td.centro
					input#toldo1_inv(type="radio", name="tol")
				td.centro
					input#toldo2_inv(type="radio", name="tol")
				td.centro
					input#toldo3_inv(type="radio", name="tol")
				td.centro
					input#toldo4_inv(type="radio", name="tol")
			tr
				td
					label Parabrisas
				td.centro
					input#parabrisas1_inv(type="radio", name="para")
				td.centro
					input#parabrisas2_inv(type="radio", name="para")
				td.centro
					input#parabrisas3_inv(type="radio", name="para")
				td.centro
					input#parabrisas4_inv(type="radio", name="para")
			tr
				td
					label Unidad de luz izquierda
				td.centro
					input#unidadIzquierda1_inv(type="radio", name="uni1")
				td.centro
					input#unidadIzquierda2_inv(type="radio", name="uni1")
				td.centro
					input#unidadIzquierda3_inv(type="radio", name="uni1")
				td.centro
					input#unidadIzquierda4_inv(type="radio", name="uni1")
			tr
				td
					label Unidad de luz derecha
				td.centro
					input#unidadDerecha1_inv(type="radio", name="uni2")
				td.centro
					input#unidadDerecha2_inv(type="radio", name="uni2")
				td.centro
					input#unidadDerecha3_inv(type="radio", name="uni2")
				td.centro
					input#unidadDerecha4_inv(type="radio", name="uni2")
			tr
				td
					label Parrilla
				td.centro
					input#parrilla1_inv(type="radio", name="parr")
				td.centro
					input#parrilla2_inv(type="radio", name="parr")
				td.centro
					input#parrilla3_inv(type="radio", name="parr")
				td.centro
					input#parrilla4_inv(type="radio", name="parr")
			tr
				td
					label Defensa Delantera
				td.centro
					input#defensaDelantera1_inv(type="radio", name="defde")
				td.centro
					input#defensaDelantera2_inv(type="radio", name="defde")
				td.centro
					input#defensaDelantera3_inv(type="radio", name="defde")
				td.centro
					input#defensaDelantera4_inv(type="radio", name="defde")
			tr
				td
					label Facia
				td.centro
					input#facia1_inv(type="radio", name="facia")
				td.centro
					input#facia2_inv(type="radio", name="facia")
				td.centro
					input#facia3_inv(type="radio", name="facia")
				td.centro
					input#facia4_inv(type="radio", name="facia")
			tr
				td
					label Tablillas de Circulacion
				td.centro
					input#tablillasCirc1_inv(type="radio", name="tabli")
				td.centro
					input#tablillasCirc2_inv(type="radio", name="tabli")
				td.centro
					input#tablillasCirc3_inv(type="radio", name="tabli")
				td.centro
					input#tablillasCirc4_inv(type="radio", name="tabli")
			tr
				td
					label 1/4 Delantero Izquierdo
				td.centro
					input#1-4delanIz1_inv(type="radio", name="delaiz")
				td.centro
					input#1-4delanIz2_inv(type="radio", name="delaiz")
				td.centro
					input#1-4delanIz3_inv(type="radio", name="delaiz")
				td.centro
					input#1-4delanIz4_inv(type="radio", name="delaiz")
			tr
				td
					label 1/4 Delantero Derecho
				td.centro
					input#1-4delanDe1_inv(type="radio", name="delade")
				td.centro
					input#1-4delanDe2_inv(type="radio", name="delade")
				td.centro
					input#1-4delanDe3_inv(type="radio", name="delade")
				td.centro
					input#1-4delanDe4_inv(type="radio", name="delade")
			tr
				td
					label Limpiadores
				td.centro
					input#limpiadores1_inv(type="radio", name="limp")
				td.centro
					input#limpiadores2_inv(type="radio", name="limp")
				td.centro
					input#limpiadores3_inv(type="radio", name="limp")
				td.centro
					input#limpiadores4_inv(type="radio", name="limp")
			tr
				td
					label Emblemas
				td.centro
					input#emblemas1_inv(type="radio", name="emblem")
				td.centro
					input#emblemas2_inv(type="radio", name="emblem")
				td.centro
					input#emblemas3_inv(type="radio", name="emblem")
				td.centro
					input#emblemas4_inv(type="radio", name="emblem")
			tr
				td
					label Spoilers
				td.centro
					input#spoiler1_inv(type="radio", name="spo")
				td.centro
					input#spoiler2_inv(type="radio", name="spo")
				td.centro
					input#spoiler3_inv(type="radio", name="spo")
				td.centro
					input#spoiler4_inv(type="radio", name="spo")
			tr
				td
					label Faros de Niebla
				td.centro
					input#faroNie1_inv(type="radio", name="faro")
				td.centro
					input#faroNie2_inv(type="radio", name="faro")
				td.centro
					input#faroNie3_inv(type="radio", name="faro")
				td.centro
					input#faroNie4_inv(type="radio", name="faro")
			tr
				td
					label Burrera
				td.centro
					input#burre1_inv(type="radio", name="burr")
				td.centro
					input#burre2_inv(type="radio", name="burr")
				td.centro
					input#burre3_inv(type="radio", name="burr")
				td.centro
					input#burre4_inv(type="radio", name="burr")
			tr
				td
					label Accesorios
				td.centro
					input#accesorio1_inv(type="radio", name="Acce")
				td.centro
					input#accesorio2_inv(type="radio", name="Acce")
				td.centro
					input#accesorio3_inv(type="radio", name="Acce")
				td.centro
					input#accesorio4_inv(type="radio", name="Acce")