#managerInterior_spa_inv_view.controls.controls-row.bloque
	.controls.controls-row
	br
	h5 Interior 
		input#Interior(type="text")
	table#tab_articulos_spa_inf.table-bordered.table-striped
		thead
			tr
				th
					label Elemento
				th
					label Bien
				th
					label Reg
				th
					label Mal
				th
					label No
		tbody
				tr
					td
						label Guantera
					td.centro
						input#guantera1_inv(type="radio", name="guan")
					td.centro
						input#guantera2_inv(type="radio", name="guan")
					td.centro
						input#guantera3_inv(type="radio", name="guan")
					td.centro
						input#guantera4_inv(type="radio", name="guan")
				tr
					td
						label Chapa
					td.centro
						input#chapa1_inv(type="radio", name="cha")
					td.centro
						input#chapa2_inv(type="radio", name="cha")
					td.centro
						input#chapa3_inv(type="radio", name="cha")
					td.centro
						input#chapa4_inv(type="radio", name="cha")
				tr
					td
						label Perilla_Vel
					td.centro
						input#perillaVe1_inv(type="radio", name="peri")
					td.centro
						input#perillaVe2_inv(type="radio", name="peri")
					td.centro
						input#perillaVe3_inv(type="radio", name="peri")
					td.centro
						input#perillaVe4_inv(type="radio", name="peri")
				tr
					td
						label Direccion
					td.centro
						input#direcc1_inv(type="radio", name="dire")
					td.centro
						input#direcc2_inv(type="radio", name="dire")
					td.centro
						input#direcc3_inv(type="radio", name="dire")
					td.centro
						input#direcc4_inv(type="radio", name="dire")
				tr
					td
						label Freno Mano
					td.centro
						input#freno1_inv(type="radio", name="fren")
					td.centro
						input#freno2_inv(type="radio", name="fren")
					td.centro
						input#freno3_inv(type="radio", name="fren")
					td.centro
						input#freno4_inv(type="radio", name="fren")
				tr
					td
						label Encendedor
					td.centro
						input#encendedor1_inv(type="radio", name="ence")
					td.centro
						input#encendedor2_inv(type="radio", name="ence")
					td.centro
						input#encendedor3_inv(type="radio", name="ence")
					td.centro
						input#encendedor4_inv(type="radio", name="ence")
				tr
					td
						label Tapiceria
					td.centro
						input#tapiceria1_inv(type="radio", name="tapi")
					td.centro
						input#tapiceria2_inv(type="radio", name="tapi")
					td.centro
						input#tapiceria3_inv(type="radio", name="tapi")
					td.centro
						input#tapiceria4_inv(type="radio", name="tapi")
				tr
					td
						label Cabeceras
					td.centro
						input#cabecera1_inv(type="radio", name="cabe")
					td.centro
						input#cabecera2_inv(type="radio", name="cabe")
					td.centro
						input#cabecera3_inv(type="radio", name="cabe")
					td.centro
						input#cabecera4_inv(type="radio", name="cabe")
				tr
					td
						label Coderas
					td.centro
						input#coderas1_inv(type="radio", name="code")
					td.centro
						input#coderas2_inv(type="radio", name="code")
					td.centro
						input#coderas3_inv(type="radio", name="code")
					td.centro
						input#coderas4_inv(type="radio", name="code")
				tr
					td
						label Direccionales
					td.centro
						input#dirccionales1_inv(type="radio", name="direc")
					td.centro
						input#dirccionales2_inv(type="radio", name="direc")
					td.centro
						input#dirccionales3_inv(type="radio", name="direc")
					td.centro
						input#dirccionales4_inv(type="radio", name="direc")
				tr
					td
						label Tablero
					td.centro
						input#tablero1_inv(type="radio", name="tabl")
					td.centro
						input#tablero2_inv(type="radio", name="tabl")
					td.centro
						input#tablero3_inv(type="radio", name="tabl")
					td.centro
						input#tablero4_inv(type="radio", name="tabl")
				tr
					td
						label Retrosivor
					td.centro
						input#retrovisor1_inv(type="radio", name="retro")
					td.centro
						input#retrovisor2_inv(type="radio", name="retro")
					td.centro
						input#retrovisor3_inv(type="radio", name="retro")
					td.centro
						input#retrovisor4_inv(type="radio", name="retro")
				tr
					td
						label Tapetes
					td.centro
						input#tapete1_inv(type="radio", name="tapet")
					td.centro
						input#tapete2_inv(type="radio", name="tapet")
					td.centro
						input#tapete3_inv(type="radio", name="tapet")
					td.centro
						input#tapete4_inv(type="radio", name="tapet")
				tr
					td
						label Perillas de luces
					td.centro
						input#perillasLuces1_inv(type="radio", name="perill")
					td.centro
						input#perillasLuces2_inv(type="radio", name="perill")
					td.centro
						input#perillasLuces3_inv(type="radio", name="perill")
					td.centro
						input#perillasLuces4_inv(type="radio", name="perill")
				tr
					td
						label Cenicero
					td.centro
						input#cenicero1_inv(type="radio", name="ceni")
					td.centro
						input#cenicero2_inv(type="radio", name="ceni")
					td.centro
						input#cenicero3_inv(type="radio", name="ceni")
					td.centro
						input#cenicero4_inv(type="radio", name="ceni")
				tr
					td
						label Manijas Manivelas
					td.centro
						input#maniMa1_inv(type="radio", name="manimani")
					td.centro
						input#maniMa2_inv(type="radio", name="manimani")
					td.centro
						input#maniMa3_inv(type="radio", name="manimani")
					td.centro
						input#maniMa4_inv(type="radio", name="manimani")
				tr
					td
						label Radio
					td.centro
						input#radio1_inv(type="radio", name="radi")
					td.centro
						input#radio2_inv(type="radio", name="radi")
					td.centro
						input#radio3_inv(type="radio", name="radi")
					td.centro
						input#radio4_inv(type="radio", name="radi")
				tr
					td
						label Estereo
					td.centro
						input#estereo1_inv(type="radio", name="est")
					td.centro
						input#estereo2_inv(type="radio", name="est")
					td.centro
						input#estereo3_inv(type="radio", name="est")
					td.centro
						input#estereo4_inv(type="radio", name="est")
				tr
					td
						label Ecualizador
					td.centro
						input#ecualizador1_inv(type="radio", name="ecual")
					td.centro
						input#ecualizador2_inv(type="radio", name="ecual")
					td.centro
						input#ecualizador3_inv(type="radio", name="ecual")
					td.centro
						input#ecualizador4_inv(type="radio", name="ecual")
				tr
					td
						label Fuente de Poder
					td.centro
						input#fuentePoder1_inv(type="radio", name="fuepo")
					td.centro
						input#fuentePoder2_inv(type="radio", name="fuepo")
					td.centro
						input#fuentePoder3_inv(type="radio", name="fuepo")
					td.centro
						input#fuentePoder4_inv(type="radio", name="fuepo")
				tr
					td
						label Biceras
					td.centro
						input#biceras1_inv(type="radio", name="bice")
					td.centro
						input#biceras2_inv(type="radio", name="bice")
					td.centro
						input#biceras3_inv(type="radio", name="bice")
					td.centro
						input#biceras4_inv(type="radio", name="bice")
				tr
					td
						label Bocinas
					td.centro
						input#bocina1_inv(type="radio", name="boci")
					td.centro
						input#bocina2_inv(type="radio", name="boci")
					td.centro
						input#bocina3_inv(type="radio", name="boci")
					td.centro
						input#bocina4_inv(type="radio", name="boci")
				tr
					td
						label Bafles
					td.centro
						input#bafle1_inv(type="radio", name="bafl")
					td.centro
						input#bafle2_inv(type="radio", name="bafl")
					td.centro
						input#bafle3_inv(type="radio", name="bafl")
					td.centro
						input#bafle4_inv(type="radio", name="bafl")