#managerCostadoIzquierdo_spa_inv_viewtr.bloque
	tr
	br
	h5 Costado Izquierdo   
		input#CostadoIzquierdo(type="text")
	table#tab_articulos_spa_inf.table-bordered.table-striped
		thead
			tr
				th
					label Elemento
				th
					label Bien
				th
					label Reg
				th
					label Mal
				th
					label No
		tbody
			tr
				td
					label Salpicadera Delantera
				td.centro
					input#salpiDer11_inv(type="radio", name="salded")
				td.centro
					input#salpiDer21_inv(type="radio", name="salded")
				td.centro
					input#salpiDer31_inv(type="radio", name="salded")
				td.centro
					input#salpiDer41_inv(type="radio", name="salded")
			tr
				td
					label Puerta Delantera
				td.centro
					input#puertDela12_inv(type="radio", name="puerded")
				td.centro
					input#puertDela22_inv(type="radio", name="puerded")
				td.centro
					input#puertDela32_inv(type="radio", name="puerded")
				td.centro
					input#puertDela42_inv(type="radio", name="puerded")
			tr
				td
					label Puerta Trasera
				td.centro
					input#puerTra13_inv(type="radio", name="puertrad")
				td.centro
					input#puerTra23_inv(type="radio", name="puertrad")
				td.centro
					input#puerTra33_inv(type="radio", name="puertrad")
				td.centro
					input#puerTra43_inv(type="radio", name="puertrad")
			tr
				td
					label Espejo Lateral
				td.centro
					input#espejoLat14_inv(type="radio", name="esplad")
				td.centro
					input#espejoLat24_inv(type="radio", name="esplad")
				td.centro
					input#espejoLat34_inv(type="radio", name="esplad")
				td.centro
					input#espejoLat44_inv(type="radio", name="esplad")
			tr
				td
					label Cristales de puertas
				td.centro
					input#cristaPuer15_inv(type="radio", name="crispued")
				td.centro
					input#cristaPuer25_inv(type="radio", name="crispued")
				td.centro
					input#cristaPuer35_inv(type="radio", name="crispued")
				td.centro
					input#cristaPuer45_inv(type="radio", name="crispued")
			tr
				td
					label Aletas
				td.centro
					input#alet16_inv(type="radio", name="aled")
				td.centro
					input#alet26_inv(type="radio", name="aled")
				td.centro
					input#alet36_inv(type="radio", name="aled")
				td.centro
					input#alet46_inv(type="radio", name="aled")
			tr
				td
					label Salpicadera trasera
				td.centro
					input#salTra17_inv(type="radio", name="salptrad")
				td.centro
					input#salTra27_inv(type="radio", name="salptrad")
				td.centro
					input#salTra37_inv(type="radio", name="salptrad")
				td.centro
					input#salTra47_inv(type="radio", name="salptrad")
			tr
				td
					label Manijas
				td.centro
					input#manijas18_inv(type="radio", name="manid")
				td.centro
					input#manijas28_inv(type="radio", name="manid")
				td.centro
					input#manijas38_inv(type="radio", name="manid")
				td.centro
					input#manijas48_inv(type="radio", name="manid")
			tr
				td
					label Llantas
				td.centro
					input#llantas19_inv(type="radio", name="lland")
				td.centro
					input#llantas29_inv(type="radio", name="lland")
				td.centro
					input#llantas39_inv(type="radio", name="lland")
				td.centro
					input#llantas49_inv(type="radio", name="lland")
			tr
				td
					label Rines
				td.centro
					input#rines10_inv(type="radio", name="rined")
				td.centro
					input#rines20_inv(type="radio", name="rined")
				td.centro
					input#rines30_inv(type="radio", name="rined")
				td.centro
					input#rines40_inv(type="radio", name="rined")
			tr
				td
					label Polveras
				td.centro
					input#polvera112_inv(type="radio", name="polved")
				td.centro
					input#polvera212_inv(type="radio", name="polved")
				td.centro
					input#polvera312_inv(type="radio", name="polved")
				td.centro
					input#polvera412_inv(type="radio", name="polved")
			tr
				td
					label Molduras
				td.centro
					input#moldura113_inv(type="radio", name="moldud")
				td.centro
					input#moldura213_inv(type="radio", name="moldud")
				td.centro
					input#moldura313_inv(type="radio", name="moldud")
				td.centro
					input#moldura413_inv(type="radio", name="moldud")