#managerAccesoriosDelMotor_spa_inv_view.controls.controls-row
	.controls.controls-row
		h5 Accesorios del motor
			input#accesorioMotor(type="text")
	.bloque
		.controls.controls-row
			.span4
				label Carburador
				input#carburador(type="text")
			.span4
				label Claxon
				input#claxon(type="text")
			.span4
				label Bujias
				input#bujias(type="text")
		.controls.controls-row
			.span4
				label Tapa de dist.
				input#tapaDist(type="text")
			.span4
				label Compresora
				input#compresora(type="text")
			.span4
				label Tapon de aceite
				input#taponAceite(type="text")
		.controls.controls-row
			.span4
				label Marca
				input#marca(type="text")
			.span4
				label Bobina de encendido
				input#bobinaEncendido(type="text")
			.span4
				label Radiador
				input#radiador(type="text")
		.controls.controls-row
			.span4
				label Equipos Adicionales
				input#equiposAdi(type="text")
			.span4
				label Filtro de aire
				input#filtroAire(type="text")
			.span4
				label Bayoneta de aceite
				input#bayonetaAceite(type="text")
		.controls.controls-row
			.span4
				label Gen. alternador
				input#genAlter(type="text")
			.span4
				label Marcha
				input#marcha(type="text")
			.span4
				label Bateria
				input#bateria(type="text")
		.controls.controls-row
			.span4
				label Bandas
				input#bandas(type="text")
			.span4
				label Calefaccion
				input#calefaccion(type="text")
			.span4
				label Mangueras
				input#mangueras(type="text")