#links-fotos
	a.muestra-img(href="/static/img/crojo.jpg" , title="Carro rojo", data-gallery)
		img(src="/static/img/crojo.jpg", alt="Banana")
	a.muestra-img(href="/static/img/crojo.jpg",  title="Carro verde", data-gallery)
		img(src="/static/img/crojo.jpg", alt="Banana")
br
br
form#formSubirFotografia(action="/content/upload_fotografia",method="post", enctype="multipart/form-data")
	input(type="file", name="file_name")
	input(type="hidden", name="tipo",value="FOTOS")
	input(type="hidden", name="modulo",value="INVENTARIO")
	input(type="hidden", name="id_unico",value="")
	button#subir_fotografia.btn(type="button") 
		|Agregar
		i.icon-upload
	#resultado_foto