#documentos_fisica
	h4 VEHICULO A NOMBRE DE PERSONA FISICA
	.controls.controls-row
			.linea
				label.checkbox
					input#factura_fisica(type="checkbox")
					| Factura(Original o copia)
			.linea
				label.checkbox
					input#titulo_propiedad_fisica(type="checkbox")
					| Título de propiedad
			.linea
				label.checkbox
					input#tarjeta_circulacion_fisica(type="checkbox")
					| Tarjeta de circulación
			.linea
				label.checkbox
					input#refrendo_fisica(type="checkbox")
					| Pago de refrendo
			.linea
				label.checkbox
					input#carta_factura_fisica(type="checkbox")
					| Carta Factura
	#documentos_fisica-identificacion.controls.controls-row
			.linea
				label.checkbox
					input#cred_electoral_fisica(type="checkbox")
					| Credencial de elector
			.linea
				label.checkbox
					input#cartilla_fisica(type="checkbox")
					| Cartilla del S.M.N.
			.linea
				label.checkbox
					input#licencia_conductor_fisica(type="checkbox")
					| Licencia de conductor
			.linea
				label.checkbox
					input#cedula_fisica(type="checkbox")
					| Cefula profesional
			.linea
				label.checkbox
					input#pasaporte_fisica(type="checkbox")
					| Pasaporte