#managerPartePosterior_spa_inv_viewtr.bloque
	br
	h5 Parte Posterior  
		input#PartePosterior_inv(type="text")
	table#tab_articulos_spa_inf.table-bordered.table-striped
		thead
			th
				label Elemento
			th
				label Bien
			th
				label Reg
			th
				label Mal
			th
				label No
		tbody
			tr
				td
					label Cajuela
				td.centro
					input#cajuela1_inv(type="radio", name="caju")
				td.centro
					input#cajuela2_inv(type="radio", name="caju")
				td.centro
					input#cajuela3_inv(type="radio", name="caju")
				td.centro
					input#cajuela4_inv(type="radio", name="caju")
			tr
				td
					label Medallon
				td.centro
					input#medallon1_inv(type="radio", name="meda")
				td.centro
					input#medallon2_inv(type="radio", name="meda")
				td.centro
					input#medallon3_inv(type="radio", name="meda")
				td.centro
					input#medallon4_inv(type="radio", name="meda")
			tr
				td
					label Calavera Derecha
				td.centro
					input#calaDe1_inv(type="radio", name="calavde")
				td.centro
					input#calaDe2_inv(type="radio", name="calavde")
				td.centro
					input#calaDe3_inv(type="radio", name="calavde")
				td.centro
					input#calaDe4_inv(type="radio", name="calavde")
			tr
				td
					label Calavera Izquierda
				td.centro
					input#calaIz1_inv(type="radio", name="calaviz")
				td.centro
					input#calaIz2_inv(type="radio", name="calaviz")
				td.centro
					input#calaIz3_inv(type="radio", name="calaviz")
				td.centro
					input#calaIz4_inv(type="radio", name="calaviz")
			tr
				td
					label 1/4 de luces posterior derecho
				td.centro
					input#cuartLucesDe1_inv(type="radio", name="1-4lude")
				td.centro
					input#cuartLucesDe2_inv(type="radio", name="1-4lude")
				td.centro
					input#cuartLucesDe3_inv(type="radio", name="1-4lude")
				td.centro
					input#cuartLucesDe4_inv(type="radio", name="1-4lude")
			tr
				td
					label 1/4 de luces posterior izquierdo
				td.centro
					input#cuartoLucesIz1_inv(type="radio", name="1-4luiz")
				td.centro
					input#cuartoLucesIz2_inv(type="radio", name="1-4luiz")
				td.centro
					input#cuartoLucesIz3_inv(type="radio", name="1-4luiz")
				td.centro
					input#cuartoLucesIz4_inv(type="radio", name="1-4luiz")
			tr
				td
					label Defensa Trasera
				td.centro
					input#defeTrase1_inv(type="radio", name="deftra")
				td.centro
					input#defeTrase2_inv(type="radio", name="deftra")
				td.centro
					input#defeTrase3_inv(type="radio", name="deftra")
				td.centro
					input#defeTrase4_inv(type="radio", name="deftra")
			tr
				td
					label Facia Trasera
				td.centro
					input#faciaTra1_inv(type="radio", name="facitra")
				td.centro
					input#faciaTra2_inv(type="radio", name="facitra")
				td.centro
					input#faciaTra3_inv(type="radio", name="facitra")
				td.centro
					input#faciaTra4_inv(type="radio", name="facitra")
			tr
				td
					label Tablillas de circulacion
				td.centro
					input#tabliCir1_inv(type="radio", name="tabcir")
				td.centro
					input#tabliCir2_inv(type="radio", name="tabcir")
				td.centro
					input#tabliCir3_inv(type="radio", name="tabcir")
				td.centro
					input#tabliCir4_inv(type="radio", name="tabcir")
			tr
				td
					label Limpiadores
				td.centro
					input#limp1_inv(type="radio", name="limppi")
				td.centro
					input#limp2_inv(type="radio", name="limppi")
				td.centro
					input#limp3_inv(type="radio", name="limppi")
				td.centro
					input#limp4_inv(type="radio", name="limppi")
			tr
				td
					label Emblema
				td.centro
					input#emble1_inv(type="radio", name="emble")
				td.centro
					input#emble2_inv(type="radio", name="emble")
				td.centro
					input#emble3_inv(type="radio", name="emble")
				td.centro
					input#emble4_inv(type="radio", name="emble")
			tr
				td
					label Spoiler
				td.centro
					input#spoi1_inv(type="radio", name="spol")
				td.centro
					input#spoi2_inv(type="radio", name="spol")
				td.centro
					input#spoi3_inv(type="radio", name="spol")
				td.centro
					input#spoi4_inv(type="radio", name="spol")
			tr
				td
					label Colilla de Escape
				td.centro
					input#colillaEs1_inv(type="radio", name="colilles")
				td.centro
					input#colillaEs2_inv(type="radio", name="colilles")
				td.centro
					input#colillaEs3_inv(type="radio", name="colilles")
				td.centro
					input#colillaEs4_inv(type="radio", name="colilles")
			tr
				td
					label Accesorios
				td.centro
					input#accesor1_inv(type="radio", name="acecorio")
				td.centro
					input#accesor2_inv(type="radio", name="acecorio")
				td.centro
					input#accesor3_inv(type="radio", name="acecorio")
				td.centro
					input#accesor4_inv(type="radio", name="acecorio")
			tr
				td
					label Stop trasero
				td.centro
					input#stopTra1_inv(type="radio", name="stoptrase")
				td.centro
					input#stopTra2_inv(type="radio", name="stoptrase")
				td.centro
					input#stopTra3_inv(type="radio", name="stoptrase")
				td.centro
					input#stopTra4_inv(type="radio", name="stoptrase")