form#frm-color
	.controls.controls-row
		.span10
			label Color
			input#color(type="text", name="color")	
	.controls.controls-row
		button#guardar_local_infraccion.btn(type="button") 
					|Guardar Local
					span.icosystra-storage
				button#cancelar_inf.btn(type="button")
					|Cancelar
					span.icosystra-cancel-circle
