#managerArticulosView_spa_inf.seccion
	.controls.controls-row
			.span3
				label Artculo:
	.controls.controls-row
			.span10
				input#articulos_spa_inf.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
			.span2
				button#sel-articulo-spa-inf.btn(type="button") Agregar
	.controls.controls-row
		.span12
			label Articulos seleccionados:
	.controls.controls-row
		.span12
			table#tab_articulos_spa_inf.table-bordered
				caption Lista de dasfadsf
				thead
					th h
					th.articulo Articulo
					th.fraccion Fracción
					th.descripcion Descripción
				tbody
	br