#DatosInfractorServParticularInf-View
	div.controls.controls-row
		.span4
			label Nombre(s):
				input#nombre_di_sp_inf.(type="text", placeholder="Nombre")
		.span4
			label App Paterno:
				input#appPaterno_di_sp_inf(type="text", placeholder="Apellido Paterno")
		.span4
			label App Materno:
				input#appMaterno_di_sp_inf(type="text", placeholder="Apellido Materno")
	div.controls.controls-row
		.span3
			label Sexo:
			select#sexo_di_sp_inf.input.input-medium
				option(value="HOMBRE") HOMBRE
				option(value="MUJER") MUJER
				option(value="SE DESCONOCE") SE DESCONOCE
		.span2
			label Edad:
			input#edad_di_sp_inf.input-small(type="text", placeholder="AÑOS")
		.span5
			label Domicilio:
			input#domicilio_di_sp_inf.input-xlarge(type="text", placeholder="Domicilio") 
		.span2	
			label No.:
			input#nom_di_sp_inf.input-mini(type="text", placeholder="Nom.")
	div.controls.controls-row
		.span4
			label Colonia:
			input#colonia_di_sp_inf.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
		.span4
			label Ciudad:
			input#ciudad_di_sp_inf.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")		
		.span4
			label Estado:
			input#estado_di_sp_inf.ui-autocomplete-input(type="text",autocomplete="off", role="textbox",arial-autocomplete="list" ,aria-haspopup="true")
	.controls.controls-row
		.span4
			label No Licencia:
			input#no_licencia_di_sp_inf(type="text")








