#managerTipoServicioPublico_spa_inf_view.controls.controls-row
	.span2
		label.radio
			input#rd_taxi_spa_inf(type="radio",name="ttPublico",value="taxi")
			| Taxi
	.span2
		label.radio
			input#rd_urbano_spa_inf(type="radio",name="ttPublico",value="urbano")
			| Urbano
	.span2
		label.radio
			input#rd_foraneo_spa_inf(type="radio",name="ttPublico",value="foraneo")
			| Foráneo
	.span2
		label.radio
			input#rd_policia_spa_inf(type="radio",name="ttPublico",value="policia")
			| Policía
	.span2
		label.radio
			input#rd_transito_spa_inf(type="radio",name="ttPublico",value="transito")
			| Tránsito