extends base

block title
    | About Me

block content
    article
        header
            h1 About Me
        :markdown
            This is a page about me.  Be sure to check
            out my [Facebook Profile][1] where I post lots
            of crazy pictures!

            [1]: http://facebook.com/dustinfarris