td  
	|<a id="edit_{{inf.id}}" class="editar-infraccion" href="#" title="Editar"><i class="icosystra-pencil"></i></a>
	|<a id="frente_{{inf.id}}" class="print-infraccion" href="#" title="Ver infraccion"><i class="icosystra-file-pdf"></i></a>
	|<a id="remove_{{inf.id}}" class="remove-infraccion" href="#"><i class="icosystra-remove"  title="Eliminar infracción"></i></a>
	|<a id="view_{{inf.id}}" class="view-infraccion" href="#"><i class="icosystra-file3"  title="Ver infracción"></i></a>
if usados.order_by == "folio"
	td.td-seleccionado  {{inf.folio}}
else
	td  {{inf.folio}}

if usados.order_by == "delegacion"
	td.td-seleccionado  {{inf.delegacion}}
else
	td  {{inf.delegacion}}

if usados.order_by == "comandancia"
	td.td-seleccionado  {{inf.comandancia}}
else
	td  {{inf.comandancia}}

if usados.order_by == "fecha_infrac"
	td.td-seleccionado  {{inf.fecha_infrac}}
else
	td  {{inf.fecha_infrac}}

if usados.order_by == "motivo"
	td.td-seleccionado  {{inf.motivo}}
else
	td  {{inf.motivo}}
if usados.order_by == "servicio"
	td.td-seleccionado  {{inf.servicio}}
else
	td  {{inf.servicio}}