.pantalla-view
	.controls.controls-row
		.span2
			br
			img(src="/static/image/infracciones/escudo_transito.gif")
		.span6
			h5
				|Dirección General De Tránsito Municipal
			h4
				|H. AYUNTAMIENTO DE LEÓN, GUANAJUATO
			h5
				|Modificación de Ficha Informativa Preliminar de Accidente
	.folios
		br
		br
		br
		br
		.control-group.cabecer-parte
			|FOLIO DE ACCIDENTE No.
			input#folio_accidente.span2(type="text",disabled="true")
			span.help-inline
