#articulos_spa_inf 
	width 100%
#myModal
	width 80%
	left 30%
	font-size 20px
#articulos_pp
	width 100%
.escudo
	font-size 90px
.direccion:before
	//content:"Dirección General De Tránsito Municipa"
	content:"Dirección General De Tránsito Municipal"
.municipio:before
	//content:"H. AYUNTAMIENTO DE LEÓN, GUANAJUATO"
	content:"H. AYUNTAMIENTO DE"
.new-folio
	font-size 40px 
	color micolor
	//background micolor
	font-weight bold
.upper
	text-transform uppercase
#li-avatar 
	margin-left 16em
#avatar-down
	background #eeeeee
	padding 0.3em 	
.avatar-nombre, .avatar-comandancia, .avatar-turno,.avatar-salir
	border-bottom  1px solid #ADABAC
.avatar-nombre:hover, 
.avatar-comandancia:hover, 
.avatar-turno:hover,
.avatar-salir:hover
	color  #000000
.mi-input
	border 16px
.clas-folio
	font-size 40px
	color red
	height 50px
	font-weight bold
#croquis_pp
	width 100%
	//background blue
#simbologia_pp
	display inline-block
	vertical-align top
	width 30%
	padding 0 15px 0 10px
#generate_pre
	margin-bottom 10px
tr.activo td
	background-color #999
	color #ccc
tr.viejos td
	background-color #999
	color #ccc
tr.ingresados td
	background-color #CEF6CE
	color #000000
tr.liberados td
	background-color #FA8258
	color #000000

tr.iniciados td
	background-color #CEF6CE
	color #000000

tr.cancelados td
	background-color red
	color #000000

tr.capturados td
	background-color yellow
	color #000000
tr.eliminados td
	background-color blue
	color #000000
#tab-detail-block td:hover
	background micolor
	color #ffffff
	a
		color white
		cursor pointer
/*tr:hover td
	background-color micolor
	//background-color red
	color white
	i
		color white
		font-size 110%
	font-size 105%
	cursor pointer
*/
#a_croquis
	//background red
	width 60%
	display inline-block
	padding 0 10px 10px 10px
#a_croquis #simbologia_pp
	display inline-block
	vertical-align top
#galleria
	height 600px

#tab_articulos_pp
	width 99%

body
	//padding-top  40px
	//padding-top	40px
	background-color #f5f5f5
	//background red
	font-family: 'Open Sans', Arial;
	font-size 16px

a
	color micolor
	text-decoration none
.form-signin
	max-width 300px
	padding 19px 29px 29px
	margin	0 auto 20px
	background-color #fff
	border 1px solid #e5e5e5
	border-radius 5px
	box-shodow 0 1px 2px rgba(0,0,0,.05)
	.form-signin-heading ,.checkbox
		margin-bottom 10px
	input[type="text"],input[type="password"]
		font-size: 16px
		height auto
		margin-bottom 15px
		padding 7px 9px
#fotografias_pp
	width 700px
	height  300px
#galleria
	width 700px
	height  300px
#img_croquis
	//width 482px
	//height 361pxw
	width 100%
	height auto
	display block


#map_canvas
	display block
	border 1px solid #DDD
	height 400px
	display block
	margin 5px
	//padding 20px
	width 90%

#geocomplete
	width 100%
table#listaUsuarios
	width 100%
	th.opciones
		width 15%
	th.nombre 
		width 40%
	th.rol
		width 25%
	th.mifoto
		width 30%
table#tablaPreliminar
	width 100%
	th.opciones
		width 15%
	th.folio 
		width 15%
	th.comandancia
		width 30%
	th.turno
		width 10%
	th.clas_accidente
		width 30
#listaPreliminar_r 
	width 100%
	th.id 
		width 10%
	th.fecha
		width  15%
	th.folio 
		width  8%
	th.agente 
		width  30%
	th.lugar 
		width 32%
table#listaPartes
	width 100%
	th.id
		width 5%
	th.fecha
		width 20%
	th.folio
		width 10%
	th.agente
		width 40%
	th.unidad
		width 10%
	th.clasificacion
		width 10%
.fila-inv
	background-color #eeeeee
.item-galeria
	width 400px
	display none
.thium-galeria
	width 100%
.fotitos
	width 30px
#ligaFotos li
	display inline-block
	text-decoration none


#menu-tablas
	nav
		ul
			list-style none
			li
				display inline-block
				a
					background #D23D15
					border-radius 0.5em
					color white
					display inline-block
					margin 0 1em 0 0
					padding 0.5em 1em
					text-decoration none
					transition all 1s ease
.seccion
	background-color #eeeeee
	border-radius 6px
	padding 10px

#ta_simbologia_pp
	width 100%
	height 22 em

#investigaciones_pp
	width 100%
	#ta_investigaciones_pp
		width 90%
		height 25 em
.ui-menu
	position absolute
	z-index 100
ul
	.alertas
		background micolor
	a
		color micolor
.ui-menu .ui-menu-item a
	font-size 12px
#ta_observaciones_pp ,#observaciones_pre
	width 95%
	height 200px
#observaciones_inf
	width 99%
	height 200px
header
	font-family "Nunito" ,Arial
#observaciones_ppp
	width 810px
	height 200px
#observaciones_inv
	width 98%
	height 200px
#tab_articulos_spa_inf
	width 99%
	th.articulo
		width 10%
	th.fraccion
		width 10%
	th.descipcion 
		width 80%
#listaInventarios
	width 100%
#listaInfracciones
	width 100%
	.identificador
		width 10%
	.folio
		width 5%
	.delegacion
		width 10%
	.comandancia
		width 10%
	.fecha
		width 20%
	.articulo
		width 20%
	.servicio
		width 20%
.fila
	display block
form 
	width 100%
#wrapper
	background #fff
	//background red
.pantalla-captura-main
	border 1px solid #d5d5d5
	border-radius 6px
	margin 0 10px 0 10px
	padding  0 10px 10px 10px
	box-shadow rgba(0,0,0,0.5) 5px 5px 10px
	transition all 2s ease
	-webkit-transition all 2s ease
	overflow hidden
	background #ffff

.pantalla-captura
	background-color #fff
	//background-color red
	border 1px solid #d5d5d5
	padding 1em
	border-radius 6px
	margin 0 10px 0 10px
	padding  0 10px 10px 10px
	box-shadow rgba(0,0,0,0.5) 5px 5px 10px
	transition all 2s ease
	-webkit-transition all 2s ease
	overflow hidden
#div-search
	transition all 2s ease
	-webkit-transition all 2s ease
	overflow hidden
#show-search
	transition all 2s ease
	-webkit-transition all 2s ease
	overflow hidden

.controls-row [class*= "span"]
	padding 0 0 0 20px
	margin 0 0 0
//.span4
//	width 260px
.span6
	width 300px
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus
	background-color: micolor;
	color #ffffff
	background-image: none;
	padding: 0px;
	margin: 0px;
	border-radius: 0
#tabla_vehiculos_view,#tabla_saldo_sangre_view
	border 1px solid #d5d5d5
	border-radius 6px 6px 0 0
.table-bordered 
	border-radius 6px 6px 0 0
.bloque
	border 1px solid #d5d5d5
	border-radius 6px 6px 0 0
	padding 1em
.bloque-infracciones
	border 1px solid #d5d5d5
	border-radius 6px 6px 0 0
	padding 10px  30px 0 0
.btn-add
	float right
	margin  0 5px 5px 0

h5.agente
	padding-left 10px
legend 
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 27px;
	font-size: 19.5px;
	line-height: 36px;
	color: #333;
	border: 0;
	border-bottom: 6px solid #E5E5E5;
.linea
	display inline-block
	vertical-align top
	padding-left 30px
	//color #efefef
#ul-accidente-local
	span
		color #efefef
		padding 2em
	ul
		list-style none
		margin 0
	ul li
			display inline-block
	ul li a:hover
			background white
			color black
			transform scale(1.2) rotate(-365deg)

.linea-fecha
	display inline-block
	vertical-align top
.input-fecha
	width 6em
#cerrar-menu
	display block
table
	//border-collapse separate
	//border-spacing 0 5px
	width 100%
thead th 
	background-color  micolor
	color white
tbody td 
	background-color #EEEEEE

td.centro
	text-align center

//tr td:first-child, tr th:first-child 
//	border-top-left-radius 6px
//	border-bottom-left-radius 6px
//tr td:last-child, tr th:last-child 
//	border-top-right-radius  6px 
//	border-bottom-right-radius 6px

.panel
	position: fixed;
	top: 140px;
	left: 0;
	display: none;
	background: #000000;
	border:1px solid #111111;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	width: 330px;
	height: auto;
	padding: 30px 30px 30px 10px;
	//filter: alpha(opacity=85);
	opacity: .85;
	z-index 100

.panel p
	margin: 0 0 15px 0;
	padding: 0;
	color: #cccccc;

#ul_accidente 
	list-style none
	li
		display inline-block
		.item-menu-nice 
			border 0.5px solid #E5E5E5
			width 100%

	span
		color #ffffff
#ul-preliminares
	z-index 10
	list-style none
	li
		display inline-block
		.item-menu-nice 
			border 0.5px solid #E5E5E5
			width 100%

	span
		color #ffffff
.panel a, .panel a:visited
	margin: 0;
	padding: 0;
	color: #9FC54E;
	text-decoration: none;
	border-bottom: 1px solid #9FC54E;


.panel a:hover, .panel a:visited:hover
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid #ffffff;

a.trigger
	position: fixed;
	text-decoration: none;
	top: 80px; left: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 20px 20px 15px;
	font-weight: 700;
	background:#333333 url(images/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	display: block;

a.trigger:hover
	position: fixed;
	text-decoration: none;
	top: 80px; left: 0;
	font-size: 16px;
	letter-spacing:-1px;
	font-family: verdana, helvetica, arial, sans-serif;
	color:#fff;
	padding: 20px 40px 20px 20px;
	font-weight: 700;
	background:#222222 url(images/plus.png) 85% 55% no-repeat;
	border:1px solid #444444;
	-moz-border-radius-topright: 20px;
	-webkit-border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-webkit-border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	display: block;
	
a.active.trigger 
	background:#222222 url(images/minus.png) 85% 55% no-repeat;

.btn-primary
	color #ffffff
	text-shadow 0 -1px 0 rgba(0, 0, 0, 0.25)
	background-color  #006dcc
	*background-color micolor  //#0044cc
	background-image linear-gradient(to bottom, micolor,micolor)
	background-repeat repeat-x
	border-color rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled]
	color: #ffffff
	background-color: micolor  //#0044cc
	*background-color: micolor//#003bb3

.btn-primary:active,
.btn-primary.active
	background-color: micolor//#003399 \9

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-submenu:hover >a,.dropdown-submenu:focus >a 
	color: #ffffff
	text-decoration: none
	background-color: #0081c2
	background-image: -moz-linear-gradient(top, micolor, micolor)
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(micolor), to(micolor))
	background-image: -webkit-linear-gradient(top, micolor, micolor)
	background-image: -o-linear-gradient(top, micolor, micolor)
	background-image: linear-gradient(to bottom, micolor, micolor)
	background-repeat: repeat-x
	//filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)


#pantalla-main
	display block
	max-width 1000px
	margin 0px  auto !important
	height 1000px
	background-color #fff
	.item
		border 2px solid #DDD
		border-radius 6px
		margin 8px 0 0 0
		height 56px
		padding  8px
		h2
			font-size 16px
			margin 0
			padding 0
		.autor
			font-size 14px
			margin -10px 0 0 0
			p
				display inline

		.titulo_item
			width 99%
			figure
				float right

#pantalla-noticias
	height 300px
	max-height 300px
	overflow-y scroll

.tit-dir
	display none
.item-fila1
	width 10%
	display inline-block
	vertical-align top
.item-fila2
	width 20%
	display inline-block
	vertical-align top
.item-fila3
	width 30%
	display inline-block
	vertical-align top
.item-fila4
	width 40%
	display inline-block
	vertical-align top
.item-fila5
	width 40%
	display inline-block
	vertical-align top
	margin-left 5%
.item-fila6
	width 60%
	display inline-block
	vertical-align top
.item-fila7
	width 70%
	display inline-block
	vertical-align top
.item-fila8
	width 80%
	display inline-block
	vertical-align top
.item-fila9
	width 90%
	display inline-block
	vertical-align top
.item-fila10
	width 100%
	display inline-block
	vertical-align top
#nombre_agente_superviso_pp,#unidad_superviso_pp,#nombre_agente_intervino_pp,#unidad_intervino_pp
	width 90%
#selPreliminar>tr:hover
	background red
#buscar-punto-google,#cont-servicio-publico,#view_recoje_vehiculo_spa_inf,#view_cont-se-recoje-licencia,#recoje_vehiculo_spa_inf,#cont-se-recoje-licencia,#documentos_fisica,#documentos_moral,#documentos-sub-moral-legal,#documentos-sub-moral-diversa
	transition all 1s linear
	-webkit-transition all 1s linear
	width 0%
	height 0px
	overflow hidden

#CapturaSaldoSangreView,#CapturaCompetenciaJudicialView,#datos_vehiculos,#capturaDanos,#agregar-block
	transition all 1s linear
	-webkit-transition all 1s linear
	width 0%
	height 0px
	overflow hidden
#tabla_saldo_sangre_view,#tabla_competencia_judicial_view,#tabla_vehiculos_view,#tab_otros_view
	transition all 1s linear
	-webkit-transition all 2s linear
	width 100%
	height auto
	overflow hidden
.indicador
	color red
#sel-preliminar
	transition all 1s linear
	-webkit-transition all 1s linear
	width 0%
	height 0px
	overflow hidden
	table
		width 100%
		//table-layout fixed
		td
			overflow hidden
			white-space nowrap
		tr:hover,td:hover
			//background micolor
			background red
			cursor hand

.sel-articulo
	width 90%
.folio-inventario
	float right
.span-inve, .span-inf
	color #111111
	background #aaaaaa
	font-size 12
	padd-top 0.4em 
@import "map-acc.styl"
@import "arbol.styl"
@import "./responsive.styl"
