#menu-main	
	.active
		display: block

	.nav > li
		float: none

	.nav > li > .parent
		background-position: 95% 50%

	.nav li li .parent
		background-image: url("images/downArrow.png")
		background-repeat: no-repeat
		background-position: 95% 50%

	.nav ul
		display: block
		width: 100%

	.nav > li.hover > ul , .nav li li.hover ul
		position: static