@media only screen and (max-width: 760px)
	@import "tabla.styl"
	@import "menu.styl"
@media screen and (min-width:768px)
	.tit-dir
		display none
	.item-c
		display inline-block
		vertical-align top
		width 30%
	.item-2c
		display inline-block
		vertical-align top
		width 60%
	.item-3c
		display inline-block
		vertical-align top
		width 90%
@media screen and (min-width:1280px)
	.tit-dir
		display block
	.item-c
		width 20%