#tabla_vehiculos_view ,#tabla_saldo_sangre_view,#tabla_competencia_judicial_view,#listaPartes,#selPreliminar,#tab_otros,#tab_articulos_pp
	table,tbody, th, td, tr
		display block
	thead tr
		position absolute
		top -9999px
		left -9999px
	tr
		border 1px solid #cccc
	td
		border none
		border-bottom 1px solid #eee 
		position relative
		padding-left 50%
	td:before 
		position absolute
		top 6px
		left 6px
		width 45% 
		padding-right 10px
		white-space nowrap
#tabla_vehiculos_view 
	td:nth-of-type(1):before  
		content: "OPCIONES" 
	td:nth-of-type(2):before  
		content: "I.C." 
	td:nth-of-type(3):before  
		content: "PLACA" 
	td:nth-of-type(4):before  
		content: "MARCA" 
	td:nth-of-type(5):before  
		content: "SUBMARCA" 
	td:nth-of-type(6):before  
		content: "TIPO" 
	td:nth-of-type(7):before  
		content: "MODELO" 
	td:nth-of-type(8):before  
		content: "COLOR" 
#tabla_saldo_sangre_view
	td:nth-of-type(1):before  
		content: "OPCIONES"
	td:nth-of-type(2):before  
		content: "NOMBRE"
	td:nth-of-type(3):before  
		content: "EDAD"
	td:nth-of-type(4):before  
		content: "DOMICILIO"
	td:nth-of-type(5):before  
		content: "SE ENCONTRABA"
	td:nth-of-type(6):before  
		content: "EDO. PERSONA"
	td:nth-of-type(7):before  
		content: "LEVANTADO POR"
	td:nth-of-type(8):before  
		content: "TRASLADADO A"
#tabla_competencia_judicial_view
	td:nth-of-type(1):before  
		content: "OPCIONES"
	td:nth-of-type(2):before  
		content: "NOMBRE"
	td:nth-of-type(3):before  
		content: "DIRECCION"
	td:nth-of-type(4):before  
		content: "EDO. PERSONA"
	td:nth-of-type(5):before  
		content: "SE ENCONTRABA"
	td:nth-of-type(6):before  
		content: "DETENIDO"
	td:nth-of-type(7):before  
		content: "A DISPOSICIÓN DE"
#listaPartes
	td:nth-of-type(1):before 
		content:"OPCIONES"
	td:nth-of-type(2):before  
		content: "FOLIO"
	td:nth-of-type(3):before  
		content: "FECHA"
	td:nth-of-type(4):before  
		content: "AGENTE"
	td:nth-of-type(5):before  
		content: "UNIDAD"
	td:nth-of-type(6):before  
		content: "CLASIFICACIONssss"
#selPreliminar
	td:nth-of-type(1):before 
		content:"SEL"
	td:nth-of-type(2):before 
		content:"FECHA"
	td:nth-of-type(3):before  
		content: "FOLIO"
	td:nth-of-type(4):before  
		content: "AGENTE"
	td:nth-of-type(5):before  
		content: "LUGAR"
#tab_otros
	td:nth-of-type(1):before 
		content:"OPCIONES"
	td:nth-of-type(2):before 
		content:"OBJETOS"
	td:nth-of-type(3):before  
		content: "TIPOS"
	td:nth-of-type(4):before  
		content: "DUEÑO"
	td:nth-of-type(5):before  
		content: "MONTO"
#tab_articulos_pp
	td:nth-of-type(1):before 
		content:"OPCIONES"
	td:nth-of-type(2):before 
		content:"ARTICULO"
	td:nth-of-type(3):before  
		content: "FRACCION"
	td:nth-of-type(4):before  
		content: "DESCRIPCION"

