//482 X 361
#croquis_pp.bloque
	article#simbologia_pp
		.control-group#simb-parte
			h5 Simbología
			textarea#ta_simbologia_pp
			

	article#a_croquis
		h5 Croquis
		figure
			img#img_croquis(src="/static/croquis/croquis.png")
.controls.controls-row
		.btn-add
			form#formSubirCroquis(action="/content/upload_croquis",method="post", enctype="multipart/form-data")
				input(type="file", name="file_name" ,title="Seleccionar croquis")
				button#subir_croquis.btn(type="submit") 
					|Agregar
					i.icon-plus

				#resultado_croquis

