#intervino_view.bloque
	.item-c
		.control-group
			label Gafete:
			input#gafete_agente_intervino_pp.ui-autocomplete-input(type="text", placeholder="Cobro")
			span.help-inline
	.item-2c
		.control-group
			label Nombre:
			input#nombre_agente_intervino_pp(type="text", placeholder="Nombre Agente", disabled)
			span.help-inline
	.item-c
		.control-group
			label Unidad:
			input#unidad_intervino_pp.ui-autocomplete-input(type="text", placeholder="Unidad")
			span.help-inline
	.item-c
		.control-group
			label Sector:
			input#sector_intervino_pp.ui-autocomplete-input(type="text", placeholder="Sector")
			span.help-inline