#buscar-punto-google
	br
	div
		form
			.item-2c
				.item-fila7
					input#geocomplete(type="text", placeholder="Ingresa direccion")
				.item-fila2
					button#refrescar-ubicacion-calle.btn.btn-success(type="button")
						i.icosystra-loop2
	div	
		#map_canvas
	.item-c	
		//pre#logger Log:
	br
	br
