#Solo_intervino_view.bloque
	.item-c
		.control-group
			label Gafete:
			span#folio_agente_intervino_pp
	.item-2c
		.control-group
			label Nombre:
			span#nombre_agente_intervino_pp

	.item-c
		.control-group
			label Unidad:
			span#unidad_intervino_pp
	.item-2c
		.control-group
			label Sector:
			span#sector_intervino_pp
			