#fotografias_pp
	#fotos_galeria
		figure
			img(src="/static/fotos_subidas/foto.jpg")
	.controls.controls-row
		.span12
			ul#ligaFotos




//a.thumbnail.plain(href="#")
//	img(src="/fotos_accidentes/IMG_0043.JPG")