#soloAgregarvehiculos.view
	.bloque
		.controls.controls-row
			.span4
				.control-group.miview
					label Inverviene como:
					span#intervino_como_pp
			.span4
				.control-group.miview
					label Clas. Vehículo:
					span#desc_vehiculo_pp
			.span4
				.control-group.miview
					label Marca:
					span#marca_vehiculo_pp
		.controls.controls-row	
			.span4
				.control-group.miview
					label SubMarca:
					span#submarca_vehiculo_pp
			.span4
				.control-group.miview
					label Modelo:
					span#model_vehiculo_pp
			.span4
				.control-group.miview
					label Tipo:
					span#tipo_vehiculo_pp
		.controls.controls-row	
			.span4
				.control-group.miview
					label Datos Adicionales:
					span#datosadicionales_vehiculo_pp
				
			.span4
				.control-group.miview
					label Placas:
					.input-append
						span#placas_vehiculo_pp
			.span4
				.control-group.miview
					label No. Serie:
					.input-append
						span#noSerie_vehiculo
		.controls.controls-row	
			.span4
				.control-group.miview
					label No. Eco.:
					.input-append
						span#noeco_pp
			.span4
				.control-group.miview
					label Capacidad:
					span#capacidad_vehiculo_pp
			.span4
				.control-group.miview
					label No. de grua:
					.input-append
						span#nodegrua_vehiculo_pp
			.span4
				.control-group.miview
					label Pensión:
					span#pension_vehiculo_pp	
		.controls.controls-row
			.span4
				.control-group.miview
					label No. de Inventario:
					.input-append
						span#noInventario_vehiculo
			.span4
				.control-group.miview
					label Servicio
					span#servicio_vehiculo_pp
			.span4
				.control-group.miview
					label Color
					span#color_vehiculo_pp
		.controls.controls-row
			.span4
				.control-group.miview
					label Detalle del Color
					span#detalle_color_vehiculo
			.span4
				.control-group.miview
					label Estado
					.input-append
						span#estado_vehiculo_pp
			.span4
				.control-group.miview
					label Municipio
						span#municipio_vehiculo_pp
	legend Datos del Propietario del vehículo
	label.checkbox
			input#se-desconoce-dueno(type="checkbox")
			|Se desconoce datos del propietario.
	.bloque
		.controls.controls-row
			.control-group.miview
				.span2
					label.radio
						span#tipoDuenoNombre
						|Nombre
				.span2
					label.radio
						span#tipoDuenoRazonSocial(type="radio",name="tipodueno",value="1")
						|Razón Social 
				span#msg-tipo-propietario.help-inline
			.span8
				strong
					|Utilize esta opción si el propietario del vehìculo pertenece a una empresa
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Nombre(s) o Razón Social
					.input-append
						span#nombre_propietario_vehiculo
			.span4
				.control-group.add-ve
					label Apellido Paterno
					.input-append
						span#apellido_paterno_propietario_vehiculo
			.span4
				.control-group.add-ve
					label Apellido Materno
					.input-append
						span#apellido_materno_propietario_vehiculo
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Domicilio
					.input-append
						span#domicilio_propietario_vehiculo
			.span4
				.control-group.add-ve
					label Telefono
					.input-append
						span#telefono_propietario_vehiculo
		
			.span4
				.control-group.add-ve
					label Codigo Postal:
					.input-append
						span#codigo_postal_propietario_vehiculo
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Colonia
					.input-append
						span#colonia_propietario_vehiculo_pp
			.span4
				.control-group.add-ve
					label Municipio
					.input-append
						span#municipio_propietario_vehiculo_pp
			.span4
				.control-group.add-ve
					label Estado
					.input-append
						span#estado_propietario_vehiculo_pp
	legend 
		|Datos del Conductor
	label.checkbox
			span#IgualConductorPropietario
			|Active esta casilla si los datos del propietario son los mismos que los del conductor.
	.controls.controls-row
		.span5
			labe.radio
				|Se desconoce datos del conductor por 
		.span3
			label.radio
				span#rad-uir
				|Huír del lugar de los hechos
		.span2
			label.radio
				span#rad-no-proporciono
				|No proporciono
		.span2
			label.radio
				span#cancelar-se-desconoce-conductor
				|Cancelar
	.bloque
		.controls.controls-row	
			.span4
				.control-group.add-ve			
					label Nombre
					span#nombre_conductor_vehiculo
			.span4
				.control-group.add-ve
					label Apellido Paterno
					span#appellido_paterno_conductor_vehiculo
				
			.span4
				.control-group.add-ve
					label Apellido Materno
					span#apellido_materno_conductor_vehiculo
			.controls.controls-row
			.span4
				.control-group.add-ve
					label Domicilio
					span#domicilio_conductor_vehiculo
			.span4
				.control-group.add-ve
					label Edad
					span#edad_conductor_vehiculo
					span#tipo_de_edad_conductor_vehiculo
			.span4
				.control-group.add-ve
					label Sexo
					span#sexo_conductor_vehiculo	
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Colonia
					span#colonia_conductor_vehiculo_pp
			.span4
				.control-group.add-ve
					label Folio de Infracción
					span#folio_infraccion_conductor_vehiculo
			.span4
				.control-group.add-ve
					label Folio del Certificado Médico
					span#folio_certificado_medico_conductor_vehiculo
		br
		.controls.controls-row
			.control-group.add-ve
				.span1
					label.radio
						input#radEstadoConductorEbriedadCompleta(type="radio",name="estadoconductor",value="1")
						|EBRIEDAD COMPLETA
				.span1
					label.radio
						input#radEstadoConductorEbriedadInconpleta(type="radio",name="estadoconductor",value="1")
						|EBRIEDAD INCONPLETA
				.span
					label.radio
						input#radEstadoConductorBajoInflujoDrogas(type="radio",name="estadoconductor",value="1")
						|BAJO INFLUJO DE DROGAS
				.span1
					label.radio
						input#radEstadoConductorAlientoAlcoholico(type="radio",name="estadoconductor",value="1")
						|ALIENTO ALCOHOLICO
				.span1
					label.radio
						input#radEstadoConductorEstadoNormal(type="radio",name="estadoconductor",value="1")
						|ESTADO NORMAL
				.span
					label.radio
						input#radEstadoConductorInconsciente(type="radio",name="estadoconductor",value="1")
						|INCONSCIENTE
				.span1
					label.radio
						input#radEstadoConductorSinExamen(type="radio",name="estadoconductor",value="1")
						|SIN EXAMEN
				span#msg-estado-drogas.help-inline
		br
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Estado
					span#estado_certificado_vehiculo_pp
					
			.span4
				.control-group.add-ve
					label Municipio
					span#municipio_certificado_vehiculo_pp
			.span4
				.control-group.add-ve
					label Condiciones Físicas
					span#condiciones_fisicas_certificado_vehiculo_pp
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Detenido en
					span#detenido_en_certificado_vehiculo_pp
			.span4
				.control-group.add-ve
					label En custodia  de
					span#custodia_de_certificado_vehiculo
				.control-group.add-ve
					label A disposición de 
					span#disposicion_de_certificado_vehiculo
		.controls.controls-row
			.span4
				.control-group.add-ve
					label La persona se encontraba:
					span#persona_encontraba_certificado_vehiculo_pp
			.span4
				.control-group.add-ve
					label Levantado por:
					span#levantado_por_certificado_vehiculo_pp
			.span4
				.control-group.add-ve
					label Trasladado a:
					span#trasladado_a_certificado_vehiculo_pp
		.controls.controls-row
			.span4
				.control-group.add-ve
					label No. Licencia
					span#nolicencia_conductor
			.span4
				.control-group.add-ve
					label Tipo de Licencia
					span#tipo_licencia_conductor_vehiculo_pp
			.span4
				.control-group.add-ve	
					label Restricciones
					span#restricciones_licencia_conductor_vehiculo_pp
		.controls.controls-row
			.span4
				.control-group.add-ve
					label Vigencia:
					#date-vigencia-licencia.input-append.date
						span#vigencia_licencia.input-fecha(data-format="yyyy-MM-dd",type="text",placeholder="Fecha")
						
							
			.span4
				.control-group.add-ve
					label Expedida por el Gob. del Edo. de:
					span#expedida_licencia_conductor_vehiculo_pp
		.controls.controls-row
			.btn-add
				//button#cargar_vehiculo_parte1.btn(type="submit") Cargar 1
				//button#cargar_vehiculo_parte2.btn(type="submit") Cargar 2
				//button#cargar_vehiculo_parte3.btn(type="submit") Cargar 3
				//button#cargar_vehiculo_parte4.btn(type="submit") Cargar 4
				//button#cargar_vehiculo_parte5.btn(type="submit") Cargar 4