#SoloCapturaSaldoSangreView(title="Capturar Saldo Sangre")
	.controls.controls-row
		.span4
			.control-group.ss
				label Nombre
				span#nombre_ss(type="text", placeholder="Nombre")
		.span4
			.control-group.ss
				label Estado Físico
				span#estado_ss
		.span4
			.control-group.ss
				label Edad
				span#edad_ss.input-mini(type="text", placeholder="Edad")
	.controls.controls-row
		.span4
			.control-group.ss
				label Nacionalidad:
				span#nacionalidad_ss
		.span4
			.control-group.ss
				label Domicilio
				span#domicilio_ss(type="text", placeholder="Domicilio")
		.span4
			.control-group.ss
				label Levanta Por:
				span#levantadopor_ss
	.controls.controls-row
		.span4
			.control-group.ss
				label Trasladado a:
				span#trasladadoa_ss
		.span4
			.control-group.ss
				label A disposición de:
				span#adisposicionde_ss
		.span4
			.control-group.ss
				label Se encontraba
				span#seencontraba_ss
	.controls.controls-row
		.span6.offset4
			
		

