#SoloCapturaCompetenciaJudicialView(title="Captura competencia Judicial")
	.controls.controls-row
		.span4 
			.control-group.cj
				label Nombre
				span#nombre_cj(type="text", placeholder="Nombre")
		.span4
			.control-group.cj
				label Estado Físico
				span#estado_cj
		.span4
			.control-group.cj
				label Edad
				span#edad_cj.input-mini(type="text", placeholder="Edad")
	.controls.controls-row
		.span4
			.control-group.cj
				label Domicilio
				span#domicilio_cj(type="text", placeholder="Domicilio")
		.span4
			.control-group.cj
				label Detenido en:
				span#detenidoen_cj
		.span4
			.control-group.cj
				label A disposición de:
				span#adisposicionde_cj
	.controls.controls-row
		.span3
			.control-group.cj
				label Se encontraba
				span#seencontraba_cj
	.controls.controls-row
		.span6.offset4
			
			