#tabla_vehiculos_view
	table#tab_vehiculos.table-bordered
		thead
			tr
				th OPCIONES
				th I.C.
				th PLACA
				th MARCA
				th SUBMARCA
				th TIPO
				th MODELO
				th COLOR
		tbody
	.controls.controls-row
		.btn-add
			a.btn.btn-success#agregar-vehiculo(href="#editar-vehiculo") 
					i.icosystra-plus
