.row-fluid
	.span6
		label Nombre(s):
		span.span-inf#view_nombre_di_sp_inf
	.span6
		label Ape Paterno:
		span.span-inf#view_appPaterno_di_sp_inf
.row-fluid	
	.span7
		label App Materno:
		span.span-inf#view_appMaterno_di_sp_inf
	.span2
		label Sexo:
		span.span-inf#view_sexo_di_sp_inf
	.span3
		label Edad:
		span.span-inf#view_edad_di_sp_inf
.row-fluid	
	.span9
		label Domicilio:
		span.span-inf#view_domicilio_di_sp_inf
	.span1
		label No.:
		span.span-inf#view_nom_di_sp_inf
.row-fluid
	.span6
		label Colonia:
		span.span-inf#view_colonia_di_sp_inf
	.span6
		label Ciudad:
		span.span-inf#view_ciudad_di_sp_inf
.row-fluid
	.span6
		label Estado:
		span.span-inf#view_estado_di_sp_inf
	.span6
		label No Licencia:
		span.span-inf#view_no_licencia_di_sp_inf 