#view_cont-se-recoje-licencia
	.controls.controls-row
		.span3
			label Estado:
			span#view_estado_dl_sp_inf
		.span3
			label Lic. No. Conducir:
			span#view_no_licencia_dl_sp_inf
		.span3
			label Fecha Vencimiento:
			span#view_fecha_vencimiento_dl_sp_inf
	.controls.controls-row	
		.span3
			label Tipo: 
			span#view_tipo_licencia_dl_sp_inf
		.span3
			label Restricciones:
			span#view_restriciones_licencia_dl_sp_inf