.row-fluid
	.span4
		div
			label Colonia:
			span.span-inf#view_colonia_spa_inf 
	.span4
		div
			label Calle 1:
			span.span-inf#view_calle1_spa_inf 
	.span4
		div
			label Calle 2:
			span.span-inf#view_calle2_spa_inf 
.row-fluid
	.span4
		label Referencia y/o No.:
		span.span-inf#view_referencia_spa_inf 
	.span4
		label Circulacion:
		span.span-inf#view_circulacion_spa_inf 
	.span4
		label Tipo de Operativo:
		span.span-inf#view_tipo_operativo_spa_inf
.row-fluid
	.span4
		label Latitud:
		span.span-inf#view_lat_inf 
	.span4
		label Longitud:
		span.span-inf#view_lng_inf