#managerArticulosView_spa_inf.bloque
	.controls.controls-row
		h5 Articulos seleccionados:
		table#view_tab_articulos_spa_inf.table-bordered
			thead
				th
				th.articulo Articulo
				th.fraccion Fracción
				th.descripcion Descripción
			tbody
		br