legend Certificado 
#CertificadoMedicoServParticularInf-View.bloque
	div.controls.controls-row
		h5 
			|En caso de violación al artículo 133 A del Reglamento de Tránsito para el Municipio de León, Gto., se remitió al conductor ante el Médico Legista, quién a través del
			|CERTIFICADO MEDICO NUMERO
			span#view_certificado_medico_cm_sp_inf.input-medium.only-number(type="text", placeholder="Certificado Médico")
			|determinó que conducía el Vehículo:
	div.controls.controls-row
		.linea
			label.checkbox
				input#view_ebriedad_incompleta_cm_spa_inf(type="checkbox") 
				|EBRIEDAD INCOMPLETA
		.linea
			label.checkbox
				input#view_ebriedad_completa_cm_spa_inf(type="checkbox") 
				|EBRIEDAD COMPLETA
		.linea
			label.checkbox
				input#view_bajo_influjo_drogas_cm_spa_inf(type="checkbox") 
				|BAJO INFLUJO DE DROGAS
		.linea
			label.checkbox
				input#view_aliento_alcoholico_cm_spa_inf(type="checkbox") 
				|ALIENTO ALCOHOLICO
		.linea
			label.checkbox
				input#view_estado_normal_cm_spa_inf(type="checkbox") 
				|ESTADO NORMAL
	br