legend Agregar Usuario
.controls.controls-row
	.span2
		label Nombre 
	.span6
		input#usuario(type="text",placeholder="Nombre Usuario")
.controls.controls-row
	.span2
		label Password 
	.span6
		input#pwd(type="text",placeholder="Password")
.controls.controls-row
	.span2
		label Email 
	.span6
		input#email(type="text",placeholder="Correo electrónico")
.controls.controls-row
	.span2
		label Foto 
	.span6
		input#foto(type="text",placeholder="Foto")
.controls.controls-row
	.span4
		button#guardarUsuario.btn.btn-primary(type="button") Guardar
		button#cancelarUsuario.btn(type="button") Cancelar




