legend Usuarios
.controls.controls-row
	.span2.offset10
		a#addUsuario(href="#") Agregar
.controls.controls-row.display
		.span12
			table#listaUsuarios.table-bordered
					thead
						tr 
							th.opciones Opciones
							th.nombre Nombre
							th.rol Rol
							th.mifoto Mi Foto
							
					tbody
						tr
							td
							td
							td
							td