button.offset5#generar_reporte_pp.btn(type="button") 
	i.icon-file
button#generar_posterior_pp.btn(type="button") 
	i.icon-picture
#dialogo-reporte(title="Reporte de accidente")
	iframe#ventana_pdf(frameborder="0", width="100%", height="400")
#dialogo-posterior(title="Posterior de accidente")
	iframe#posterior_pdf(frameborder="0", width="100%", height="400")
