#superviso_view.bloque
	.item-2c
		.control-group
			label Gafete/Agente:
			input#nombre_agente_superviso_pp.ui-autocomplete-input(type="text", placeholder="Nombre Agente")
			span.help-inline
	.item-c	
		.control-group
			label Unidad/Sector:
			input#unidad_superviso_pp.ui-autocomplete-input.input-xlarge(type="text", placeholder="Unidad")
			span.help-inline