#tabla_competencia_judicial_view.bloque
	table#tab_competencia_judicial.table-bordered
		thead
			tr
				th OPCIONES
				th NOMBRE.
				th DIRECCION
				th EDO. PERSONA
				th SE ENCONTRABA
				th DETENIDO
				th A DISPOSICIÓN DE
		tbody
	.controls.controls-row
		.btn-add
			a#agregar_cj_pp(href="#editar-judicial")
				i.icon-plus-sign

