#tabla_saldo_sangre_view
	table#tab_saldo_sangre.table-bordered
		thead
			tr
				th OPCIONES
				th NOMBRE
				th EDAD
				th DOMICILIO
				th SE ENCONTRABA
				th EDO. PERSONA
				th LEVANTADO POR
				th TRASLADADO A
		tbody
	.controls.controls-row
		.btn-add
			a#agregar_ss_pp(href="#editar-sangre")
				i.icon-plus-sign

