legend Preliminares
.controls.controls-row
	.span2.offset10
		a#Preliminar(href="#") Agregar
.controls.controls-row.display
		.span12
			table#tablaPreliminar.table-bordered
					thead
						tr 
							th.opciones Opciones
							th.folio Folio
							th.comandancia Comandancia
							th.turno Turno
							th.clas_accidente Clase Accidente
							
					tbody
						tr
							td
							td
							td
							td
							td