extends base
br
br
block stylesheet
	link(rel="stylesheet", href="/static/stylesheets/table/demo_page.css")
	link(rel="stylesheet", href="/static/stylesheets/table/demo_table_jui.css")
	link(rel="stylesheet", href="/static/stylesheets/table/smoothness/jquery-ui-1.8.4.custom.css")
block contenido
	br
	br
	.pantalla-captura
		.controls.controls-row
				.span2
					img(src="/static/image/infracciones/escudo_transito.gif")
				.span6
					h5
						|Direcciónnnnnn General De Tránsito Municipal
					h4
						|H. AYUNTAMIENTO DE LEÓN, GUANAJUATO
		legend Buscar
		.controls.controls-row
			.span3
				label Fecha del
				input#fechaI.input.input-medium(type="text",placeholder="Fecha Inicial")
			.span3
				label Al:
				input#fechaF.input.input-medium(type="text",placeholder="Fecha Final")
			.span3
				label Tipo Evento
				input#tipoAccidente.input-medium(type="text",placeholder="Tipo")
			.span2
				br
				button#buscarPartes.btn.btn-primary(type="submit") Buscar
		legend Resultado
		
		.controls.controls-row
			table#listaPreliminar_p.table-bordered
				thead
					tr 
						th.id 
						th.fecha Fecha
						th.folio Folio
						th.agente Agente
						th.ocurridos Lugar
				tbody
					if object_list 
						for pre in object_list
							if pre.activo == 0
								tr
									td 
										a#pre.id(href="#")
											i.icon-file
										a#pre.id(href="#")
											i.icon-hand-down
									td {{pre.fecha_evento}} 
									td {{pre.folio_evento}} 
									td {{pre.agente_intervino}} 
									td {{pre.calle1}}  
							else
								tr.activo
									td {{pre.id}}
									td {{pre.fecha_evento}} 
									td {{pre.folio_evento}} 
									td {{pre.agente_intervino}} 
									td {{pre.calle1}}  
		include accidentes/accidentes/accidentes/pagination
	//!= contentFor('vendor/jquery.dataTables.min','vendor/require.js",data-main="accidentes/list/main.js"')
block javascripts	
	script(src="/static/javascripts/vendor/jquery.dataTables.min.js") 
	script(src="/static/javascripts/vendor/require.js", data-main="/static/javascripts/main-lista-preliminar.js")






